<div class="container">
  <div class="card">
    <div class="card-header">
      Singup finished
    </div>
    <div class="card-body">
      <h5 class="card-title">Email</h5>
      <p class="card-text"><%= email %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Full name</h5>
      <p class="card-text"><%= fullName %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Phone number</h5>
      <p class="card-text"><%= phoneNumber %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Address</h5>
      <p class="card-text"><%= address %></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Homepage</h5>
      <p class="card-text"><%= homepageUrl %></p>
    </div>
  </div>
</div>
