<div class="container">
  <h4>Terms</h4>
  <form action="./step2.html" method="POST">
    <div class="form-group">
      <textarea>
        Blah Blah Blah....
        Blah Blah Blah....
        Blah Blah Blah....
        Blah Blah Blah....
        Blah Blah Blah....
        Blah Blah Blah....
      </textarea>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="yes" id="agree">
        <label class="form-check-label" for="agree">
          I agree with terms
        </label>
    </div>
    <button type="submit" class="btn btn-primary disabled">Go next</button>
  </form>
</div>
